<h3 style="margin-bottom:5px"><%= show_detail.title %></h3>
<%= render :partial => "questions/user_info", :locals => { :who => show_detail, :master => show_detail.user } %>
	<%=textilize(coderay(show_detail.detail))%>
	<div class="tags" style="float:right">
		<%= render :partial => "show_tag", :collection => show_detail.tag_list %>
	</div>
	<ul class="functional">
		<li>回复</li>
	</ul>
</div>
<div id="answers">
	<%= render :partial => "answers/show_answer", :collection => show_detail.answers %>
</div>
<div id="answer-form">
	<%= render :partial => @answer = Answer.new %>
</div>