<div class="question">
	<div class="question_left">
		<div class="question_answer_status">
			<% if show_question.answers.size == 0  %>
				<%= image_tag("/images/red.png", :width => "14", :border => 0) %>
			<% else %>
                              <% if show_question.correct_answer!=0 %>
                                  <%= image_tag("/images/green.png", :width => "14", :border => 0) %>
                              <% else %>
                                  <%= image_tag("/images/yellow.png", :width => "14", :border => 0) %>
                              <% end%>
			<% end %>
		</div>
		<div class="question_answer">
			<div class="NSsize">
				<%= show_question.answers.size %>
			</div>
			<div class="NSmark">
				答案
			</div>
		</div>
		<div class="question_vote" style="margin-right:10px;">
			<div class="NSsize">
				<%= show_question.votes_for - show_question.votes_against %>
			</div>
			<div class="NSmark">
				投票
			</div>
		</div>
	</div>
	<div class="question_right">
		<div class="NSquestion_title">
			<%= link_to "#{show_question.title}", show_question %>
		</div>
		<div class="question_bottom">
			<div class="question_tags">
				<%= render :partial => "show_tag", :collection => show_question.tag_list %>
			</div>
			<div class="question_attachment">
				<%= time_ago_in_words show_question.created_at %>前
				<%= link_to "#{show_question.user.name}", user_messages_url(show_question.user) %>
				<%= "浏览 #{show_question.view}" %>
			</div>
		</div>
	</div>
</div>