<% div_for show_message do %>
	<div class="statusbox">
		<div class="status">
			<div class="vote">
				<div class="votes">
					<span class="vote-count">
						<%= show_message.votes_for - show_message.votes_against %>
					</span>
					<div class="vote-count-zi">投票</div>
				</div>
			</div>
			<div class="ans">
				<strong><%= show_message.replies.size %></strong>
				<div class="vote-count-zi">回复</div>
			</div>
		</div>
	</div>
	<div class="summary">
		<span class="time"><%= time_ago_in_words show_message.created_at %></span>
		<h3><%= link_to show_message.user.name, user_messages_url(show_message.user) %></h3>
		<div class="mainwords">
			<%= link_to truncate(show_message.Description,length=120), user_message_url(@user,show_message) %>
		</div>
	</div>
<% end %>