<div class="answer" id="answer">
	<div class="content_vote_body">
		<div class="content_body">
			<%=textilize(coderay(show_answer.body))%>
		</div>
                <div class="vote_body">
                        <%= button_to "", { :action => :vote_up,
                                            :controller => :questions,
                                            :question_id => show_answer.question.id,
                                            :answer_id => show_answer.id}, {:class => "vote_up_effect"} %>

                        <div class="vote_count" id="vote_count_<%=  show_answer.id%>">
                                <%= show_answer.votes_for - show_answer.votes_against %>
                        </div>
                        <%= button_to "", { :action => :vote_down,
                                            :controller => :questions,
                                            :question_id => show_answer.question.id,
                                            :answer_id => show_answer.id}, {:class => "vote_down_effect"} %>
                            <div id="correct_answer_img_<%= show_answer.id %>" class="correct_answer">
				<%= correct_answer(show_answer) %>
                            </div>
                  </div>
	</div>
	<%= render :partial => "questions/user_info", :locals => { :who => show_answer } %>
        <div style="clear: both"></div>
        <div class="show_answer_comment">
            <ul id="show_answer_comment_<%=  show_answer.id %>">
                    <%= render :partial => "comments/show_comment", :collection => show_answer.comments %>
            </ul>
            <% if logged_in? %>
                <div class="NScomment">
                    <h1>
                      <%= link_to "#{image_tag('/images/comment.gif',:border => 0)}回复","javascript:void()",:onclick => "commentboxShow(#{show_answer.id});" %>
                    </h1>
                    <div id="NScommentbox_<%= show_answer.id %>" style="display: none" class="NScommentbox">
                            <%= gravatar_for current_user %>
                            <%= render :partial => @comment = Comment.new, :locals => {:answer  => show_answer,:button_name => '回复'} %>
                            <div style="clear: both"></div>
                    </div>
                </div>
           <% end %>
        </div>
</div>