<html>
<head>
	<%= stylesheet_link_tag "mac","coderay", "jquery-ui" %>
	<%= javascript_include_tag ['jquery', 'jquery-ui', 'application'] %> 
</head>
<body>
	<% if check_browser_we_supported? -%>
	<div id="category_bar">
		<%= yield :category_bar %>
	</div>
	<div id="container">
		<div id="content">
			<%= yield %>
		</div>
	</div>
	<% if logged_in? -%>
	<div id="shortcut_bar">
		<div class="logo"></div>
		<ul class="shortcut_bar_menu">
			<li><%= gravatar_for current_user , :size=> 28 %><%= current_user.name %></li>
			<li><%= link_to '问答', questions_url %></li>
			<li><%= link_to '消息', user_messages_url(current_user) %></li>
		</ul>
		<ul class="shortcut_bar_menu" style="float:right;margin-right:20px;">
			<li><%= link_to '✎ 新问题', new_question_url %></li>
		</ul>
	</div>
	<% end -%>
	<% else -%>
	<% end  %>
</body>
</html>