<html>
<head>
	<%= stylesheet_link_tag "mac","coderay", "jquery-ui" %>
	<%= javascript_include_tag ['jquery', 'jquery-ui', 'application', 'uki'] %>
</head>
<body>
	<% if check_browser_we_supported? -%>
	<div id="category_bar">
		<%= yield :category_bar %>
	</div>
	<div id="container">
		<%= yield :split %>
		<div id="list">
			<%= yield :list %>
		</div>
		<div id="content">
			<%= yield %>
		</div>
	</div>
	<% if logged_in? -%>
	<div id="shortcut_bar">
		<span class="btn d">问答</span>
		<span class="btn d">消息</span>
	</div>
	<% end -%>
	<% else -%>
	<% end  %>
</body>
</html>